.container {
  min-width: 320px;
  max-width: 1280px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  list-style: none;
  border-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .hero {
    padding-bottom: 0px;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding-top: 16px;
  }
}

.hero__select {
  display: none;
}
@media (min-width: 768px) {
  .hero__select {
    display: block;
    padding-top: 100px;
    padding-right: 20px;
  }
}

.hero-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero__article {
  min-width: 280px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .hero__article {
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .hero__article {
    max-width: 502px;
  }
}

.hero__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #2C2C2C;
  margin-top: 40px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .hero__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 532px;
    font-size: 42px;
    margin-right: 190px;
    margin-bottom: 44px;
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    display: block;
    font-size: 48px;
    line-height: 1.2;
    margin-top: 159px;
    margin-bottom: 28px;
  }
}

.hero__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2C2C2C;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .hero__text {
    width: 336px;
    font-size: 16px;
    margin-bottom: 40px;
    padding-top: 100px;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    width: 502px;
  }
}

.hero__btn--order {
  width: 98px;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  background-color: #BBF330;
  border-radius: 30px;
  border: none;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.hero__btn--order:hover, .hero__btn--order:focus, .hero__btn--order:active {
  background-color: #B5FF00;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.button-thumb {
  position: relative;
}

.hero-select--btn {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  background: #FEFEFE;
  border: 14px solid #FFE550;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.hero-select--btn:hover, .hero-select--btn:focus, .hero-select--btn:active {
  border-color: #BBF330;
}
@media (min-width: 1280px) {
  .hero-select--btn {
    width: 580px;
    height: 580px;
    border: 26px solid #FFE550;
  }
}

.hero-select__btn-arrow--left {
  width: 28px;
  height: 34px;
  padding: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background: #FEFEFE;
  border-style: none;
  border-width: 0;
  position: absolute;
  top: 50%;
  left: -7px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.hero-select__btn-arrow--left:hover .hero-select__icon--left {
  fill: #7EB101;
}
.hero-select__btn-arrow--left:focus .hero-select__icon--left {
  fill: #7EB101;
}
.hero-select__btn-arrow--left:active .hero-select__icon--left {
  fill: #7EB101;
}
@media (min-width: 1280px) {
  .hero-select__btn-arrow--left {
    width: 40px;
    height: 48px;
    left: -10px;
  }
}

.hero-select__btn-arrow--right {
  width: 28px;
  height: 34px;
  padding: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background: #FEFEFE;
  border-style: none;
  border-width: 0;
  position: absolute;
  top: 50%;
  right: -7px;
}
@media (min-width: 1280px) {
  .hero-select__btn-arrow--right {
    width: 40px;
    height: 48px;
    right: -10px;
  }
}
.hero-select__btn-arrow--right:hover .hero-select__icon--right {
  fill: #7EB101;
}
.hero-select__btn-arrow--right:focus .hero-select__icon--right {
  fill: #7EB101;
}
.hero-select__btn-arrow--right:active .hero-select__icon--right {
  fill: #7EB101;
}

.hero-select__icon--right {
  display: block;
  width: 11px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: black;
}
@media (min-width: 1280px) {
  .hero-select__icon--right {
    width: 18px;
    height: 32px;
  }
}

.hero-select__icon--left {
  display: block;
  width: 11px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: black;
}
@media (min-width: 1280px) {
  .hero-select__icon--left {
    width: 18px;
    height: 32px;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "";
}

.offerings {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 100px 0;
  margin-top: -140px;
}
@media (min-width: 768px) {
  .offerings {
    background-image: url("/offerings-images/background-tablet.png");
    background-size: 100% 100%;
    padding: 200px 0;
    margin-top: -80px;
  }
}
@media (min-width: 1280px) {
  .offerings {
    background-image: url("/offerings-images/background-fon-section@1xdesktop.jpg");
  }
}

.offerings__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}

.offerings__img {
  display: block;
  width: 550px;
  height: 604px;
  background-image: url(/offerings-images/aple@1xdesktop.png), url(/offerings-images/shaddow-aple@1xdesktop.png), url(/offerings-images/marg-border-aple@1xdesktop.png), url(/offerings-images/background-aple@1xdesktop.png);
  background-position: left 84px bottom 125px, left 155px bottom 75px, center, center;
  background-repeat: no-repeat;
  background-size: 396px 502px, 252px 87px, 550px 550px, 502px 502px;
  -webkit-transition-property: background-size, background-position;
  transition-property: background-size, background-position;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.offerings__img:hover {
  background-size: 456px 552px, 262px 97px, 560px 560px, 512px 512px;
  background-position: left 44px bottom 95px, left 155px bottom 75px, center, center;
}

.offerings__article {
  display: block;
  width: 573px;
  height: 392px;
}

.offerings__title {
  font-style: inherit;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.offerings__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.offerings__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 67px;
  margin-bottom: 32px;
}

.offerings__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.offerings__list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.offerings__list-item {
  display: block;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
}

.offerings__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  border: 1px solid;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #7EB101;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.offerings__list-link:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.offerings__list-icon {
  display: block;
  fill: currentColor;
}

.offerings__list-btn {
  width: 106px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #7EB101;
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.offerings__list-btn:hover {
  border: 2px solid #597D00;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.offerings__list-btn--right {
  display: none;
}

.offerings__list-btn--right {
  display: none;
}

.site-nav__logo-link {
  background-image: url(/offerings-images/logo.svg);
  display: block;
  width: 66px;
  height: 52px;
}

.favorites {
  padding: 100px 0;
}

.favorites__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  margin-bottom: 20px;
  text-align: center;
}

.favorites__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.favorites__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px -16px 0;
}

.favorites__btn {
  width: 395px;
  height: 397px;
  background: #FEFEFE;
  border: 16px solid #FFE550;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 6000ms;
          transition-duration: 6000ms;
}
.favorites__btn:hover, .favorites__btn:focus, .favorites__btn:active {
  border-color: #BBF330;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}/*# sourceMappingURL=main.css.map */