.favorites{
    padding: 100px 0;
}
.favorites__title{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 20px;
    text-align: center;
}
.favorites__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.favorites__list{
    display: flex;
    flex-wrap: wrap;
    gap:32px;
    justify-content: center;
    align-items: center;
    
    margin:40px -16px 0;
}
.favorites__btn{
    width: 395px;
    height: 397px;
    background: #FEFEFE;
    border: 16px solid #FFE550;
    border-radius: 50%;
    overflow: hidden;
    transition: transform;
    transition-duration: 6000ms;
    &:hover,&:focus,&:active{
        border-color: #BBF330;
        transform: rotate(360deg);
    }
}
