.offerings{}
        
.offerings__wrapper
.offerings__img
.offerings__article
.offerings__title{
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    text-transform: uppercase;
}


.offerings__text

 
.offerings__list
  
.offerings__item
.offerings__link

        
.offerings__btn--order
.offerings__btn