.offerings{
    background-image: url('/offerings-images/background-fon-section@1xdesktop.jpg');
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding:110px 0;
    margin-top: -180px;
    
}
        
.offerings__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.offerings__img{
    display: block;
    width: 550px;
    height: 604px;
    background-image:
        url(/offerings-images/aple@1xdesktop.png),
        url(/offerings-images/shaddow-aple@1xdesktop.png),
        url(/offerings-images/marg-border-aple@1xdesktop.png),
        url(/offerings-images/background-aple@1xdesktop.png);
      
    background-position:left 84px bottom 125px,left 155px bottom 75px, center, center;
    background-repeat: no-repeat;
    background-size:396px 502px,252px 87px, 550px 550px, 502px 502px;
}
.offerings__article{
    display: block;
    width: 573px;
    height: 392px;
}
.offerings__title{
    font-style: inherit;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.offerings__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

 
.offerings__list{
    display: flex;
    justify-content: flex-start;
}
  
.offerings__list-item{
    display: block;
}
.offerings__list-link{
    display: block;
    width: 48px;
    height: 48px;
}

        
.offerings__btn--order{
    width: 106px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #7EB101;
    border-radius: 30px;
}
.offerings__btn{
    display: none;
}