.offerings{
    background-image: url('./offerings-images/background-fon-section@1xdesktop.jpg');
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
        
.offerings__wrapper
.offerings__img
.offerings__article
.offerings__title{
    font-style: inherit;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    text-transform: uppercase;
}


.offerings__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

 
.offerings__list
  
.offerings__item
.offerings__link

        
.offerings__btn--order
.offerings__btn{}