.offerings{
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 70px 0 60px;
    margin-top: -30px;
    background-image: url('/offerings-images/background-off-mobile@1x.png');
    @media (min-width:768px){
        background-image: url('/offerings-images/background-tablet.png');
        background-size: 100% 100%;
        padding: 200px 0;
        margin-top: -80px;
    }
    @media(min-width:1280px){
        background-image: url('/offerings-images/background-fon-section@1xdesktop.jpg');
        max-width: 1600px;
    }
}
        
.offerings__wrapper{
    display: block;
    @media (min-width:1280px){    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;}

}
.offerings__img{
    display: block;
    width:280px;
    height: 309px;
    background-image:
    url(/offerings-images/aple@1xdesktop.png),
    url(/offerings-images/shaddow-aple@1xdesktop.png),
    url(/offerings-images/marg-border-aple@1xdesktop.png),
    url(/offerings-images/background-aple@1xdesktop.png);
    background-size:200px 255px,128px 44px, 280px 280px, 255px 255px;
  background-position: left 42px bottom 58px,bottom 38px center,center,center;
    background-repeat: no-repeat;
    @media(min-width:768px){
        width: 704px;
        height: 394px;
        margin-bottom: 64px;
        background-image:
            url(/offerings-images/aple@1xdesktop.png),
            url(/offerings-images/shaddow-aple@1xdesktop.png),
            url(/offerings-images/marg-border-aple@1xdesktop.png),
            url(/offerings-images/background-aple@1xdesktop.png),
            url(/offerings-images/center-transparent\ aple@1x.png),
            url(/offerings-images/right-transparent-aple@1x.png);
          
        background-position:left 54px bottom 80px,left 110px bottom 50px,left 2px center,left 18px center,bottom 80px right 150px,bottom 80px right 2px;
        background-repeat: no-repeat;
        background-size:257px 325px,163px 56px, 355px 355px, 325px 325px, 166px 211px,108px 136px;
        transition-property: background-size,background-position;
        transition-duration: 500ms;
        &:hover{
            background-size: 267px 335px,173px 66px, 367px 365px, 335px 335px;
            background-position:left 54px bottom 80px,left 110px bottom 50px, left 2px center, left 18px center;
           
        }
    }
    @media(min-width:1280px){
    width: 550px;
    height: 604px;
    background-image:
        url(/offerings-images/aple@1xdesktop.png),
        url(/offerings-images/shaddow-aple@1xdesktop.png),
        url(/offerings-images/marg-border-aple@1xdesktop.png),
        url(/offerings-images/background-aple@1xdesktop.png);
      
    background-position:left 84px bottom 125px,left 155px bottom 75px, center, center;
    background-repeat: no-repeat;
    background-size:396px 502px,252px 87px, 550px 550px, 502px 502px;
    transition-property: background-size,background-position;
    transition-duration: 500ms;
    &:hover{
        background-size: 456px 552px,262px 97px,560px 560px,512px 512px;
        background-position:left 44px bottom 95px,left 155px bottom 75px, center, center;
       
    }
}
    
}
.offerings__article{
    display: block;
    width: 280px;
    height: auto;
    margin-left: 4px;
    @media(min-width:768px){
    width:620px;
    height: 372px;
    margin-left: 16px;}
   @media (min-width: 1280px){
    width: 573px;
    height: 392px;
   }
}
.offerings__title{
    font-size: 28px;
    font-style: inherit;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
    @media(min-width:768px){
        font-size: 42px;
        text-transform: uppercase;
    }
    @media (min-width:1200px){
    margin-bottom: 20px;
    }
}


.offerings__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-right: auto;
    margin-bottom: 40px;

    @media(min-width:768px){
        font-size: 16px;
        margin-right: 120px;
    }
    @media(min-width:1280px){
        margin-right:0px;
    }

   
}

 
.offerings__list{
   display:block;
    margin-bottom: 32px;
    @media(min-width:768px){
        display: flex;
        justify-content: flex-start;
        gap:67px;
    }
}
.offerings__list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}
.offerings__list-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}
  
.offerings__list-item{
    display: block;
    transition: transform;
}
.offerings__list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    border:1px solid;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #7EB101;
    transition: transform;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
       transform: scale(1.5);
    }
}
.offerings__list-icon{
    display: block;
    fill: currentColor;

}
.offerings__list-buttons{
    display:flex;
    justify-content: flex-start;
    gap:23px;

    @media(min-width:1280px){
        display: block;
    }
}       
.offerings__list-btn{
    width: 106px;
    height: 40px;
    background-color: #FFFFFF;
    border: 2px solid #7EB101;
    border-radius: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    transition: transform;
    transition-duration: 500ms;

    &:hover{
        border: 2px solid #597D00;
        transform: scale(1.5);
    }
    &--right{
        display:block;
        width:83px;
        height:34px;
        font-size: 14px;
        font-weight: 400;
        background-color:#FFE550;
        color:black;
        @media (min-width:1280px){
            display: none;
        } 
    }
}
.check__more{
    font-size: 16px;
    font-weight: 700;
    margin-left:3px;
}
